.footer {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer a {
  color: #1b1b1b;
  font-size: 12px;
  position: relative;
}

.footer a:hover {
  text-decoration: underline;
}

input:is(:active, :focus, :focus-visible, :focus-within) {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
